body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #688a68;
}

.quem-somos{
    background-color: #8181f8;
    color: white;
}

.margin{  
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: tomato;
}

.bg-footer{
    background-color: black;
    color: white;
}